body {
    font-family: 'YourChosenGoogleFont', sans-serif;
    background-color: rgb(16, 26, 67);
    color: whitesmoke;
}
.genre-item {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: rgb(6, 6, 32);
    text-align: center;
}
.genre-item:hover {
    background-color: #dcdcdc;
}
.movie-item {
    text-align: center;
}
/* tailwind */
